<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.wb_labelprint.mapper.usa.ItemUsaMapper">
    <select id="search" resultType="com.example.wb_labelprint.vo.ItemVO">
        SELECT D.SUBNAME_CH AS CAR,ITEMCODE,SPEC,ITEMNAME,H.SUBNAME_CH AS UNIT
        FROM T_MI_ITEM C
        inner join t_mi_typesub d on c.carno = d.subcode and d.typecode = 'MI041'
        left outer join t_mi_typesub H on c.cmb_UNIT = H.subcode and H.typecode = 'MI001'
        WHERE DELDATE = ' '
        <if test="itemcode != null and itemcode != ''">
            AND UPPER(ITEMCODE) LIKE '%' || UPPER(#{itemcode}) || '%'
        </if>
        <if test="spec != null and spec != ''">
            AND UPPER(SPEC) LIKE '%' || UPPER(#{spec}) || '%'
        </if>
        <if test="itemname != null and itemname != ''">
            AND UPPER(ITEMNAME) LIKE '%' || UPPER(#{itemname}) || '%'
        </if>
        ORDER BY ITEMCODE
    </select>

    <select id="getNextLotNo" resultType="string">
        SELECT BARCODE
        FROM T_SCM_BARCODE_MAX
        WHERE SDATE = #{date}
        AND ITEMCODE = #{itemcode}
    </select>

    <insert id="insertBarcode" parameterType="map">
        INSERT INTO T_SCM_BARCODE (
            BARCODE,
            KIND,
            SDATE,
            MADATE,
            LOTNO,
            ITEMCODE,
            ITEMNAME,
            QTY,
            TOTALQTY,
            YMDHMS,
            USEYN,
            LABELTYPE,
            LASTSTATUS,
            CUSTNAME,
            FACTORY,
            LASTFACTORY,
            LASTQTY,
            OITEMCODE
        ) VALUES (
            #{barcode},
            'WMS',
            #{sdate},
            #{sdate},
            #{lotno},
            #{itemcode},
            #{itemname},
            #{qty},
            #{qty},
            TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS'),
            'Y',
            'EXCEPTIONIN',
            '1',
            #{custname},
            #{factory},
            #{factory},
            #{qty},
            #{spec}
        )
    </insert>

    <update id="mergeBarcodeMax">
        -- T_SCM_BARCODE_MAX 테이블에 ITEMCODE, SDATE가 매칭되는게 있으면 BARCODE(LOTNO)만 업데이트
        -- 매칭되는게 없다면 INSERT
        MERGE INTO T_SCM_BARCODE_MAX A
        USING (
            SELECT
                #{itemcode} AS ITEMCODE,
                #{sdate} AS SDATE,
                #{lotno} AS LOTNO
            FROM DUAL
        )B
        ON (
            A.ITEMCODE = B.ITEMCODE
            AND A.SDATE = B.SDATE
        )
        WHEN MATCHED THEN
            UPDATE
            SET A.BARCODE = B.LOTNO
        WHEN NOT MATCHED THEN
            INSERT (
                ITEMCODE,
                SDATE,
                BARCODE
            ) VALUES (
                B.ITEMCODE,
                B.SDATE,
                B.LOTNO
            )
    </update>
</mapper>