<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login - Label Print Program</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<div class="login-container">
    <div class="login-box">
        <h1>Label Print Program</h1>
        <form action="/main" method="post">
            <div class="form-group">
                <label for="id">ID</label>
                <input type="text" id="id" name="id" placeholder="Enter your id">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter your password">
            </div>
            <button type="submit" class="btn-login">Sign In</button>
        </form>
    </div>
</div>
</body>
</html>